.section-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    height: 100vh;
    background-image: url("../assets/bg.png");
    background-size: cover;
    background-position: 0 0;
    overflow: hidden;
  }
  
  .contact-tittle {
    
    text-align: center;
    color:white;
    margin-bottom: 20px;
  }

  .contact-tittle h2 {
    font-size: 3rem;
    color: white;
    margin-bottom: 20px;
  }

 
  .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 8px;
    width: 100%;
    max-width: 300px;
    background-color: #292C34;
  
    a {
      display: flex;
      align-items: center;
      color: white;
      text-decoration: none;
    }
  }

  .contact img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .contact:hover {
    background-color: #5d5f63;
    transform: scale(1.2);
    transition: background-color 0.5s ease;
  }

  .contact:hover img {
    transform: scale(1.2);
    transition: transform 0.5s ease;
  }